@use 'true';
@use 'sass:meta';
@use '../functions' as fn with (
	$is-test: true,
);

@include true.describe('generate-mixed-colors()') {
	@include true.it('should throw an error if the step and peak parameters are wrong') {
		@include true.assert-equal(
			fn.generate-mixed-colors(1, 1, 1),
			'ERROR: ❌  ===> The color1 parameter must be a color.'
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, 1, 1),
			'ERROR: ❌  ===> The color2 parameter must be a color.'
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, 1),
			'ERROR: ❌  ===> The color3 parameter must be a color.'
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, "hallo"),
			'ERROR: ❌  ===> The steps parameter must be an integer.'
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, 10, "welt"),
			'ERROR: ❌  ===> The color2-peak parameter must be an integer.'
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, 0, 2),
			'ERROR: ❌  ===> The peak point for color2 must be less than or equal to the number of steps.'
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, 0, 0),
			'ERROR: ❌  ===> The peak point for color2 must be greater than or equal to 1.'
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, -1, -1),
			'ERROR: ❌  ===> The peak point for color2 must be greater than or equal to 1.'
		);
	}
	@include true.it('should return expected color maps') {
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, 1, 1),
			(1: yellow)
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, 3, 2),
			(1: green, 2: yellow, 3: red)
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, 2, 1),
			(1: yellow, 2: red)
		);
		@include true.assert-equal(
			fn.generate-mixed-colors(green, yellow, red, 2, 2),
			(1: green, 2: yellow)
		);
		@include true.assert-equal(
			meta.inspect(fn.generate-mixed-colors(green, yellow, red)),
			meta.inspect((1: green, 2: rgb(46.36363636363635, 151.0909090909091, 0), 3: rgb(69.54545454545455, 162.63636363636363, 0), 4: rgb(92.72727272727273, 174.1818181818182, 0), 5: rgb(115.90909090909092, 185.72727272727275, 0), 6: rgb(139.0909090909091, 197.27272727272728, 0), 7: rgb(162.27272727272728, 208.8181818181818, 0), 8: rgb(185.45454545454547, 220.36363636363637, 0), 9: rgb(208.63636363636363, 231.9090909090909, 0), 10: rgb(231.8181818181818, 243.45454545454544, 0), 11: yellow, 12: rgb(255, 226.66666666666666, 0), 13: rgb(255, 198.33333333333331, 0), 14: #ffaa00, 15: rgb(255, 141.66666666666669, 0), 16: rgb(255, 113.33333333333333, 0), 17: #ff5500, 18: rgb(255, 56.666666666666664, 0), 19: rgb(255, 28.333333333333332, 0), 20: red))
		);
		@include true.assert-equal(
			meta.inspect(fn.generate-mixed-colors(#7ed321, #ffc700, #cc0000)),
			meta.inspect((1: #7ed321, 2: rgb(149.45454545454544, 208.8181818181818, 27), 3: rgb(161.1818181818182, 207.72727272727275, 24), 4: rgb(172.90909090909093, 206.63636363636363, 21), 5: rgb(184.63636363636363, 205.54545454545456, 18), 6: rgb(196.36363636363637, 204.45454545454544, 15.000000000000002), 7: rgb(208.0909090909091, 203.36363636363637, 12), 8: rgb(219.8181818181818, 202.27272727272725, 9), 9: rgb(231.54545454545453, 201.1818181818182, 6), 10: rgb(243.27272727272728, 200.0909090909091, 3.000000000000001), 11: #ffc700, 12: rgb(249.33333333333334, 176.88888888888889, 0), 13: rgb(243.66666666666669, 154.77777777777777, 0), 14: rgb(238, 132.66666666666663, 0), 15: rgb(232.33333333333334, 110.55555555555556, 0), 16: rgb(226.66666666666669, 88.44444444444444, 0), 17: rgb(221, 66.33333333333331, 0), 18: rgb(215.33333333333331, 44.22222222222222, 0), 19: rgb(209.66666666666666, 22.11111111111111, 0), 20: #cc0000))
		);
	}
}