@use 'sass:math';
@use '../functions' as fn;
@use '../mixins' as mx;

.test-random-num {
	padding: fn.random-num(10, 20) + px;
}

.test-number-invert {
	padding: fn.number-invert(10) + px;
}

.test-px-to-rem {
	padding: fn.px-to-rem(16);
}

.test-breakpoints-min {
	@include mx.breakpoint('lg') {
		padding: 12px;
	}
}

.test-breakpoints-max {
	@include mx.breakpoint('lg', 'max') {
		padding: 15px;
	}
}
