@use 'sass:math';
@use '../functions' as fn;
@use '../mixins' as mx;

.test-random-num {
	padding: fn.random-num(10, 20) + px;
}

.test-number-invert {
	padding: fn.number-invert(10) + px;
}

.test-px-to-rem {
	padding: fn.px-to-rem(16);
}

.test-breakpoints-min {
	@include mx.breakpoint('lg') {
		padding: 3rem;
		margin: 1rem;
	}
}

.test-breakpoints-max {
	@include mx.breakpoint('lg', 'max', $max-overlap: 2) {
		padding: 15px;
	}
}

.test-fluid {
	font-size: fn.fluid(16, 31);
}

.test-round {
	/* stylelint-disable-next-line number-max-precision */
	padding: fn.round(1.23456789, 2) + px;
}