@use '../functions/numbers' as numb;

/// Styles for selected elements
/// @param {Color} $bg-color Background-color, may be a `var()`
/// @param {Color} $color Text-color, may be a `var()`
/// @param {String} $selector [null] Optional selector, defaults to `::selection`
/// @group Basic
/// @author Felix Scholze
/// @since v1.0.0
@mixin select-style($bg-color, $color, $selector: null) {
	$sel: '::selection';

	@if $selector {
		$sel: '#{$selector}::selection';
	}
	#{$sel} {
		background: $bg-color;
		color: $color;
		@content;
	}
}

/// Adds an offset for the targeted link(s)
/// @param {Number} $offset the offset in any value
/// @group Basic
/// @author Felix Scholze
/// @since v1.0.0
@mixin target-anchor-offset($offset) {
	:target {
		&::before {
			content: '';
			display: block;
			height: $offset;
			margin-top: numb.number-invert($offset);
			@content;
		}
	}
}
